* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	font-size: 20px;
}

body {
	color: rgb(255, 170, 130);
	background: rgb(10, 10, 10);
}

a {
	color: rgb(210, 60, 130);
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

/* I need to disable the annoying lack of padding on ul elements */
ul {
	padding-left: 1rem;
}